<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>А</key>
	<array>
		<dict>
			<key>word</key>
			<string>абажур</string>
			<key>meaning</key>
			<string>(французское abat-jour), часть арматуры светильника, предназначенная для защиты глаз от слепящего действия источника света и создания требуемой освещённости путём отражения и рассеяния света.</string>
		</dict>
		<dict>
			<key>word</key>
			<string>абазин</string>
			<key>meaning</key>
			<string>представитель народа абазинов. Абазины — народ, живущий в Карачаево-Черкесии и в Адыгее.</string>
		</dict>
		<dict>
			<key>word</key>
			<string>абак</string>
			<key>meaning</key>
			<string>(греч. ábax, abákion, латинский abacus — доска, счётная доска), 1. счётная доска, применявшаяся для арифметических вычислений в Древней Греции, Риме, затем в Западной Европе до 18 в. Доска разделялась на полосы, счёт осуществлялся передвижением находящихся в полосах счётных марок (костяшек, камней и т.п.). 2. В номографии особый чертёж (т. н. сетчатая номограмма) 3. В архитектуре верхняя плита капители колонны, полуколонны, пилястры.</string>
		</dict>
	</array>
	<key>Б</key>
	<array>
		<dict>
			<key>word</key>
			<string>баба</string>
			<key>meaning</key>
			<string>1. замужняя крестьянка, а также вообще женщина из простонародья (прост.). 2. Тёплая покрышка на чайник для сохранения тепла, распаривания, заварки. 3. Ударная часть молота, копра, ковочного и штамповочного устройства. 4. (ромовая б.) род кекса цилиндрической или конической формы, пропитанного ромом, вином</string>
		</dict>
		<dict>
			<key>word</key>
			<string>бабашка</string>
			<key>meaning</key>
			<string>брусочек из металла, дерева, пластмассы и т.п., используемый при типографском наборе для образования пробелов в тексте.</string>
		</dict>
		<dict>
			<key>word</key>
			<string>баббит</string>
			<key>meaning</key>
			<string>сплав на основе олова или свинца, применяемый при изготовлении подшипников.</string>
		</dict>
	</array>
</dict>
</plist>
