<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>А</key>
	<array>
		<dict>
			<key>word</key>
			<string>абажур</string>
			<key>meaning</key>
			<string>(французское abat-jour), часть арматуры светильника, предназначенная для защиты глаз от слепящего действия источника света и создания требуемой освещённости путём отражения и рассеяния света.</string>
		</dict>
		<dict>
			<key>word</key>
			<string>абазин</string>
			<key>meaning</key>
			<string>представитель народа абазинов. Абазины — народ, живущий в Карачаево-Черкесии и в Адыгее.</string>
		</dict>
		<dict>
			<key>word</key>
			<string>абак</string>
			<key>meaning</key>
			<string>(греч. ábax, abákion, латинский abacus — доска, счётная доска), 1. счётная доска, применявшаяся для арифметических вычислений в Древней Греции, Риме, затем в Западной Европе до 18 в. Доска разделялась на полосы, счёт осуществлялся передвижением находящихся в полосах счётных марок (костяшек, камней и т.п.). 2. В номографии особый чертёж (т. н. сетчатая номограмма) 3. В архитектуре верхняя плита капители колонны, полуколонны, пилястры.</string>
		</dict>
		<dict>
			<key>word</key>
			<string>абака</string>
			<key>meaning</key>
			<string>(испанское abacá, от тагальского abaka), текстильный банан (Musa textilis), многолетнее тропическое растение семейства банановых.</string>
		</dict>
		<dict>
			<key>word</key>
			<string>аббат</string>
			<key>meaning</key>
			<string>(лат. abbas, от греческого abbá, арамейского або — отец), в католической церкви настоятель аббатства.</string>
		</dict>
		<dict>
			<key>word</key>
			<string>аббатиса</string>
			<key>meaning</key>
			<string>настоятельница женского монастыря (аббатства) в католической церкви. Аббатиса, хотя и наделяется аббатскими знаками отличия (наперсный крест, перстень, посох), но обладает только административной властью над подчиненными.</string>
		</dict>
		<dict>
			<key>word</key>
			<string>аббатство</string>
			<key>meaning</key>
			<string>католический монастырь, управляемый аббатом или аббатисой (в женском монастыре), подчиняющийся епископу, иногда непосредственно римскому папе.</string>
		</dict>
		<dict>
			<key>word</key>
			<string>аббревиатура</string>
			<key>meaning</key>
			<string>(итальянское abbreviatura — сокращение, от латинского abbrevio — сокращаю), 1) в лингвистике: а) инициальный тип сложносокращённых слов, образованных из алфавитных названий начальных букв словосочетания, например СССР (эс-эс-эс-эр) из: Союз Советских Социалистических Республик, или образованных из начальных букв словосочетания, но читаемых не по алфавитным названиям, а как обычное слово; например, вуз из: высшее учебное заведение; б) сложносокращённые слова, составленные из начальных элементов (морфем) словосочетания, например сельмаг из: сельский магазин.
2) В музыке — знаки сокращений нотного письма. Применяются в целях упрощения способов записи музыки и облегчения чтения нот. К ним относятся: а) реприза — знак повторения какой-либо части музыкального произведения или куплета песни; б) знак повторения отдельных звуков, ритмических фигур, аккордов, тактов; в) знак переноса на октаву вверх или вниз (позволяет избегать большого числа добавочных линий) — пунктирная горизонтальная черта над (или под) нотной строкой; г) тремоло — быстрое чередование звуков интервала (за исключением секунды) или аккорда в течение определённой доли времени; д) знак паузы на протяжении нескольких тактов. А. применяется также при обозначении нюансов, музыкальных терминов и инструментов.</string>
		</dict>
		<dict>
			<key>word</key>
			<string>аббревиация</string>
			<key>meaning</key>
			<string>создание аббревиатур путем сокращения, усечения слов, входящих в составное наименование.</string>
		</dict>
		<dict>
			<key>word</key>
			<string>абдомен</string>
			<key>meaning</key>
			<string>(лат. abdomen — живот), задний отдел тела у членистоногих.</string>
		</dict>
		<dict>
			<key>word</key>
			<string>аберрация</string>
			<key>meaning</key>
			<string>(лат. aberratio — уклонение, удаление, отвлечение), отклонение от нормы; ошибки, нарушения, погрешности.</string>
		</dict>
	</array>
	<key>Б</key>
	<array>
		<dict>
			<key>word</key>
			<string>баба</string>
			<key>meaning</key>
			<string>1. замужняя крестьянка, а также вообще женщина из простонародья (прост.). 2. Тёплая покрышка на чайник для сохранения тепла, распаривания, заварки. 3. Ударная часть молота, копра, ковочного и штамповочного устройства. 4. (ромовая б.) род кекса цилиндрической или конической формы, пропитанного ромом, вином</string>
		</dict>
		<dict>
			<key>word</key>
			<string>бабашка</string>
			<key>meaning</key>
			<string>брусочек из металла, дерева, пластмассы и т.п., используемый при типографском наборе для образования пробелов в тексте.</string>
		</dict>
		<dict>
			<key>word</key>
			<string>баббит</string>
			<key>meaning</key>
			<string>антифрикционный сплав на основе олова или свинца, предназначаемый для заливки вкладышей подшипников.</string>
		</dict>
	</array>
</dict>
</plist>
